
@media screen and (max-width: 400px) {
    figure {
        margin: 0;
        padding: 0;
    }
    
    ul {
        margin: 0;
        padding: 0;
        padding-left: 5px;
    }
    
    section {
        /* text-align: justify; */ /* don't use, fuck things up on sentences with small number of words */
    }
}

figure figcaption {
    display: block;
    text-align: center;
}

.if-then {
    /* not implies */
}

.implies {
    display: none;
}

pre {
    padding: 0px;
    margin: 0px;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    overflow-x: auto;
}

img:not(.free) {
    border: 2px solid black;
}

img:not(.free), pre {
    max-width: 100%;
}

img[src$=".svg"] {
    background: white;
}

.animation-components {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.animation-components > * {
    position: absolute;
}

.launch-animation {
    cursor: pointer;
    /* vertical-align: bottom */
}

.exercice {
    display: inline-block;
}
.slide {
    border: 1px solid #ccc;
    max-width: 100%;
}
.next, .prev, h2 {
    cursor: pointer;
}